# Ignore sensitive data files

# Ignore specific file
TripWireProgram\__pycache__
TripWireProgram\testing.ipynb
TripWireProgram\backup
TripWireAuthServer\serverConfig.ini
TripWireProgram\myappinfo.ini
TripWireAuthServer\Way2.png
TripWireAuthServer\Way1.png
TripWireAuthServer\Presentation1.pptx

# Ignore all files with specific extension
*.key
*.pem
*.password
*.json

# Ignore entire directories
sensitive_data/
secrets/

# Ignore files in a specific directory
config/database.yml

# Ignore files in a specific nested directory
credentials/*.json

# Ignore files with a specific pattern
**/passwords/*.txt

# Ignore all log files
*.log
